git:
    diff_unified: 10
    exclude_list: appsettings*.json
    template_file: ""
    template_string: ""
openai:
    base_url: {{ (env "OPENAI_BASE_URL") | default .openaiBaseUrl | quote }}
    api_key: {{ (env "OPENAI_API_KEY") | default .openaiApiKey | quote }}
    frequency_penalty: "0"
    headers: ""
    max_tokens: 32768
    model: o4-mini
    model_name: o4-mini
    org_id: ""
    presence_penalty: "0"
    provider: openai
    proxy: ""
    skip_verify: false
    socks: ""
    temperature: "1"
    timeout: 600s
    top_p: "1"
    top_n: "1"
output:
    file: ""
    lang: en
