{{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[edit]
    command = "code"
    args = ["--wait"]
[data]
    devcontainer = {{ $devcontainer }}
    {{- if not $devcontainer }}
    {{- $gitsigningkey := promptStringOnce . "gitsigningkey" "Git signing key" }}
    gitsigningkey = {{ $gitsigningkey | quote }}
    {{- end }}
