{{- $default_gitSigningKey := (env "GPG_SIGNING_KEY") | default "CC11C96C6CF2463D011A33BC04F7C18D00F3E621" -}}
{{- $default_name := "Jim Chen" -}}
{{- $default_email := "Jim@ChenJ.im" -}}
{{- $default_OPENAI_BASE_URL := "http://one-api.internal/v1" -}}
{{- $default_OPENAI_API_KEY := "sk-ptkx18Jhorhk7bS89816B737B274476484Da2741B4D48e67" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[edit]
    command = "code-insiders"
    args = ["--wait"]
[data]
    {{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") | not | not }}
    {{- $codespaces := (env "CODESPACES") | not | not }}
    devcontainer = {{ $devcontainer }}
    codespaces = {{ $codespaces }}

    name = {{ $default_name | quote }}
    email = {{ $default_email | quote }}
    openaiBaseUrl = {{ $default_OPENAI_BASE_URL | quote }}
    openaiApiKey = {{ $default_OPENAI_API_KEY | quote }}

    {{- $githubPatForMcp := "" }}
    {{- if not $devcontainer }}
    {{- $githubPatForMcp = promptStringOnce . "githubPatForMcp" "GitHub PAT for MCP" | default (env "GH_TOKEN") }}
    {{- else }}
    {{- $githubPatForMcp = (env "GH_TOKEN") }}
    {{- end }}
    githubPatForMcp = {{ $githubPatForMcp | quote }}

    {{- $gitSigningKey := "" }}
    {{- if not $devcontainer }}
    {{- $gitSigningKey = promptStringOnce . "gitSigningKey" "Git signing key" | default $default_gitSigningKey }}
    {{- else if not $codespaces }}
    {{- $gitSigningKey = $default_gitSigningKey }}
    {{- end }}
    gitSigningKey = {{ $gitSigningKey | quote }}
