{{- if not .codespaces -}}
[user]
	signingkey = {{ .gitsigningkey }}
	name = CHEN, CHUN
	email = jim60105@gmail.com
{{- end }}
[commit]
	gpgsign = true
[core]
	autocrlf = input
{{- if .codespaces }}
	editor = code --wait
{{- else }}
	editor = vim
{{- end }}
	safecrlf = warn
[tag]
	gpgsign = true
	forceSignAnnotated = true
{{- if eq .chezmoi.hostname "Jim-Fedora" }}
[safe]
	directory = /var/mnt/ssd/AI/docker-stable-diffusion-webui
	directory = /var/mnt/ssd/AI/docker-stable-diffusion-webui/stable-diffusion-webui
	directory = /var/mnt/ssd/AI/kohya_ss
	directory = /var/mnt/ssd/AI/kohya_ss/sd-scripts
{{- end }}
[init]
	defaultBranch = master
{{- if not .codespaces }}
[gpg]
	program = /usr/bin/gpg
{{- end }}
[credential]
	helper = store
	credentialStore = gpg
[credential "https://codeberg.org"]
	provider = generic
[pull]
	rebase = true
