[user]
{{- if and .gitSigningKey (not .codespaces) }}
	signingkey = {{ .gitSigningKey }}
{{- end }}
	name = {{ .name }}
	email = {{ .email }}
[commit]
	gpgsign = true
[core]
	autocrlf = input
{{- if .devcontainer }}
	editor = code-insiders --wait
{{- else }}
	editor = vim
{{- end }}
	safecrlf = warn
[tag]
	gpgsign = true
	forceSignAnnotated = true
{{- if eq .chezmoi.hostname "Jim-Fedora" }}
[safe]
	directory = /var/mnt/ssd/AI/docker-stable-diffusion-webui
	directory = /var/mnt/ssd/AI/docker-stable-diffusion-webui/stable-diffusion-webui
	directory = /var/mnt/ssd/AI/kohya_ss
	directory = /var/mnt/ssd/AI/kohya_ss/sd-scripts
	directory = /var/mnt/ssd/AI/docker-stable-diffusion-webui/data/extensions/civitai-shortcut-fork
{{- end }}
[init]
	defaultBranch = master
{{- if not .devcontainer }}
[gpg]
	program = /usr/bin/gpg
{{- end }}
[credential]
	helper = store
	credentialStore = gpg
[credential "https://codeberg.org"]
	provider = generic
[pull]
	rebase = true
[push]
	autoSetupRemote = true
