{{- if .devcontainer -}}
approval_policy = "never"
{{- else -}}
approval_policy = "on-failure"
{{- end }}

model = "codex-mini-latest"
model_provider = "one-api"
model_reasoning_summary = "none"
# model_reasoning_effort = "none"
file_opener = "vscode-insiders"

[model_providers.one-api]
name = "Local AI APIM"
base_url = "http://one-api.local/v1"
env_key = "OPENAI_API_KEY"
wire_api = "responses"

{{ if .devcontainer -}}
[sandbox]
mode = "danger-full-access"
{{- else -}}
[sandbox]
mode = "workspace-write"

# By default, only the cwd for the Codex session will be writable (and $TMPDIR on macOS),
# but you can specify additional writable folders in this array.
writable_roots = [
    "/tmp",
]
network_access = false  # Like read-only, this also defaults to false and can be omitted.
{{- end }}

{{ if .githubPatForMcp -}}
# GitHub MCP Server with write access
[mcp_servers.github-sudo]
command = "uvx"
args = [
    "mcp-proxy",
    "--headers",
    "X-MCP-Toolsets",
    "issues,pull_requests",
    "--transport",
    "streamablehttp",
    "https://api.githubcopilot.com/mcp/"
]
env = { "API_ACCESS_TOKEN" = {{ .githubPatForMcp | quote }} }

# GitHub MCP Server with read-only access
[mcp_servers.github-ro]
command = "uvx"
args = [
    "mcp-proxy",
    "--headers",
    "X-MCP-Readonly",
    "true",
    "--headers",
    "X-MCP-Toolsets",
    "repos,users",
    "--transport",
    "streamablehttp",
    "https://api.githubcopilot.com/mcp/"
]
env = { "API_ACCESS_TOKEN" = {{ .githubPatForMcp | quote }} }
{{- end }}

[shell_environment_policy]
# inherit can be "core" (default), "all", or "none"
inherit = "core"
# force-set / override values
set = { GIT_AUTHOR_NAME = "🤖 Codex-CLI", GIT_AUTHOR_EMAIL = "codex-cli[bot]@users.noreply.github.com", GIT_COMMITTER_NAME = "CHEN, CHUN", GIT_COMMITTER_EMAIL = "jim60105@gmail.com", GIT_CONFIG_COUNT="1", GIT_CONFIG_KEY_0="commit.gpgsign", GIT_CONFIG_VALUE_0="false" }
