{{- if eq .chezmoi.hostname "Jim-Fedora" -}}
approval_policy = "on-failure"
sandbox_permissions = [
    "disk-write-platform-user-temp-folder",
    "disk-write-platform-global-temp-folder",
    "disk-write-cwd",
]
{{- else }}
approval_policy = "never"
sandbox_permissions = [
    "disk-full-read-access",
    "disk-write-platform-user-temp-folder",
    "disk-write-platform-global-temp-folder",
    "disk-write-cwd",
    "disk-full-write-access",
    "network-full-access"
]
{{- end }}

model = "codex-mini-latest"
model_provider = "one-api"
model_reasoning_summary = "none"
model_reasoning_effort = "none"
file_opener = "vscode-insiders"

[model_providers.one-api]
name = "Local AI APIM"
base_url = "http://one-api.local/v1"
env_key = "OPENAI_API_KEY"
wire_api = "responses"

[shell_environment_policy]
# inherit can be "core" (default), "all", or "none"
inherit = "core"
# force-set / override values
set = { GIT_AUTHOR_NAME = "🤖 Codex-CLI", GIT_AUTHOR_EMAIL = "codex-cli[bot]@users.noreply.github.com", GIT_COMMITTER_NAME = "🤖 Codex-CLI", GIT_COMMITTER_EMAIL = "codex-cli[bot]@users.noreply.github.com" }
