{
  "ai:preset": "ai@gpt-4.1",
  "ai:maxtokens": 0,
  "ai:timeoutms": 600000,
  "ai:baseurl": {{ (env "OPENAI_BASE_URL") | default .openai_base_url | quote }},
  "ai:apitoken": {{ (env "OPENAI_API_KEY") | default .openai_api_key | quote }},
  "ai:model": "gpt-41",
  "autoupdate:channel": "latest",
  "autoupdate:enabled": false,
  "editor:minimapenabled": true,
  "telemetry:enabled": false,
  "term:copyonselect": true,
  "term:fontfamily": "Cascadia Code NF",
  "term:fontsize": 16,
  "term:theme": "default-dark",
  "window:nativetitlebar": false,
  "window:showmenubar": false,
  "window:reducedmotion": true
}
