{
  "ai:apitoken": {{ (env "OPENAI_API_KEY") | default .openaiApiKey | quote }},
  "ai:baseurl": {{ (env "OPENAI_BASE_URL") | default .openaiBaseUrl | quote }},
  "ai:maxtokens": 0,
  "ai:model": "gpt-5.2",
  "ai:preset": "ai@gpt-5.2",
  "ai:timeoutms": 600000,
  "autoupdate:channel": "latest",
  "autoupdate:enabled": false,
  "editor:minimapenabled": true,
  "telemetry:enabled": false,
  "term:copyonselect": true,
  "term:fontfamily": "Cascadia Code NF",
  "term:fontsize": 16,
  "term:theme": "default-dark",
  "window:nativetitlebar": false,
  "window:reducedmotion": true,
  "window:showmenubar": false
}
