# see https://github.com/sigoden/aichat/blob/main/config.example.yaml

model: one-api:gpt-5.2
clients:
- type: openai-compatible
  name: one-api
  api_base: {{ (env "OPENAI_BASE_URL") | default .openaiBaseUrl }}
  api_key: {{ (env "OPENAI_API_KEY") | default .openaiApiKey }}
  models:
  - name: gpt-5.2
  - name: anthropic/claude-sonnet-4.5
